{% extends "base.html" %}


{% load static %}


{% block page_title %}
    {{content.name}}
{% endblock %}


{% block css_styles %}
    <link rel="stylesheet" href="{% static 'blog/main.css' %}">
{% endblock css_styles %}


{% block content %}
    <div class="container d-flex justify-content-center flex-column mt-4">
        <a href="{% url 'papers' %}" class="col-6 col-lg-3 mx-auto d-flex justify-content-center ">
            <img class="mb-5 w-100" src="../static/blog/logo.png" alt="Profile Photo">
        </a>

        <div class="col text-center">
            <ul class="d-flex flex-row justify-content-around list-unstyled flex-wrap justify-content-center">
                {% for info in infos %}
                    {% if info.name == "mail" %}
                        <div class="mx-1">
                            <li><a class="text-decoration-none" href="mailto:{{info.link}}"><i class='fa-brands fa-at fa-2x'></i></a></li>
                        </div>
                    {% else %}
                        <div class="mx-1 ">
                            <li><a  class="text-decoration-none" href="{{info.link}}"><i class='fa-brands fa-{{info.name}} fa-2x'></i></a></li>
                        </div>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}